<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.xenarthra.wwm" android:installLocation="auto" android:versionCode="1" android:versionName="1">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="25" />
	
	<application android:label="Xenarthra">
    <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyB2Im5mvE9kA3_wDR1V6d1ZTQ55DbXkxMc" />
  </application>

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
  <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  
</manifest>